# Root Environment Variables
# The variables below are used in packages/db and apps/web respectively.
# Duplicate this file as .env and run `docker compose up -d` to start the PostgreSQL instance.

DATABASE_URL="postgresql://user:password@localhost:5432/collabswipe"
